# Node modules
node_modules/
frontend/**/node_modules/
backend/**/node_modules/

# Environment files (keep them private)
*.env
*.env.*  # covers .env.local, .env.development, .env.production

# Log files
*.log

# OS junk
.DS_Store
Thumbs.db

# Firebase Admin SDK key
EasyCooking/Backend/serviceAccountKey.json
