@import 'leaflet/dist/leaflet.css';

*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling on the body */
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

:root {
  --bg-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: white;
}

.main-content {
  flex: 1;
  overflow-y: auto; /* Enable scrolling */
  padding: 20px;
}
